---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import Projects from "../components/ProjectList.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";

export const prerender = true;
---

<script>
  fetch("/onlyfans?t=true");
</script>
<Layout
  title="Michael Eduave"
  description="Software Engineer | Full Snack Developer | Proompt Ingenieur 🤪"
>
  <Header />
  <div class="flex flex-col pt-10 gap-y-5 grow">
    <Links />
    <Projects />
    <!-- <Skills /> -->
    <Footer />
  </div>
</Layout>
