---
import Layout from "../layouts/Layout.astro";
import { randomStr } from "../utils/random";

let cookie = Astro.cookies.get("astro")?.value;

if (!cookie) {
  cookie = randomStr(200);
  Astro.cookies.set("astro", cookie, {
    maxAge: 60 * 60 * 24 * 365,
    expires: new Date(+new Date() + 60 * 60 * 24 * 365 * 1000),
  });
}

await fetch(import.meta.env.KV_REST_API_URL + "/sadd/visitors/" + cookie, {
  headers: {
    Authorization: "Bearer " + import.meta.env.KV_REST_API_TOKEN,
  },
});

const res = await fetch(import.meta.env.KV_REST_API_URL + "/scard/visitors", {
  headers: {
    Authorization: "Bearer " + import.meta.env.KV_REST_API_TOKEN,
  },
});
const { result: data } = await res.json();
---

<Layout title="Michael's OnlyFans">
  <main class="container text-white">
    <div class="text-xl text-center">
      <span class="text-4xl">{data}</span>
      <p>people have been here looking for my OnlyFans page.😸</p>
    </div>
  </main>
</Layout>
