<div class="text-gray-500 text-sm grow content-end text-center">
  Built with <a href="https://astro.build" target="_blank">Astro</a> and
  <a href="https://tailwindcss.com" target="_blank">Tailwind CSS</a>.
</div>
