---
import { Image } from "astro:assets";
import profileImage from "../../public/profile-pic.jpg";
---

<a href="/" class="flex items-center text-2xl">
  <Image
    src={profileImage}
    alt="Michael Eduave"
    width={320}
    height={320}
    class="h-20 w-20 object-cover rounded-full"
  />
  <div class="ml-5">Michael Eduave</div>
</a>
