<div class="flex items-center text-2xl">
  <img class="h-20 w-20 object-cover rounded-full" src="profile-pic.jpg" />
  <div class="ml-5">Michael Eduave</div>
  <div class="flex gap-5 ml-auto">
    <div>About</div>
    <div>Work</div>
  </div>
</div>
