---
import { Image } from "astro:assets";
import profileImage from "../../public/profile-pic.jpg";
---

<div class="flex items-center text-2xl">
  <Image
    src={profileImage}
    alt="Michael Eduave"
    class="h-40 w-40 object-cover rounded-full"
  />
  <div class="ml-5 flex flex-col">
    <span class="text-5xl">Michael Eduave</span>
    <span class="text-base"
      >Software Engineer | Full Snack Developer | Proompt Ingenieur 🤪</span
    >
  </div>
</div>
