---
export const skills = [
  "Typescript",
  "ReactJS",
  "NodeJS",
  "PostgreSQL",
  "DynamoDB",
  "GraphQL",
  "Docker",
  "SST",
  "AWS",
  "Google APIs",
  "SolidJS",
];
---

<div class="mt-8">
  <div class="text-2xl font-semibold mb-4 text-slate-900 dark:text-white">
    Technical Skills and Tools:
  </div>
  <div class="flex flex-wrap gap-2">
    {
      skills.map((s) => (
        <span class="px-3 py-1 bg-slate-100 dark:bg-dark-bg/90 text-slate-700 dark:text-slate-200 rounded-full text-sm shadow-sm dark:shadow-[0_1px_3px_rgba(255,255,255,0.1)]">
          {s}
        </span>
      ))
    }
  </div>
</div>
